[Desktop Entry]
Encoding=UTF-8
Name=Link to Physical-Layer Fingerprinting of LoRa devices using Supervised and Zero-Shot Learning | Zenodo
Type=Link
URL=https://zenodo.org/record/583965#.XWlBoJyxVhE
Icon=text-html
Name[en_US]=Zenodo
