[Desktop Entry]
Encoding=UTF-8
Name=Link to Quick-R: Data Type Conversion
Type=Link
URL=https://www.statmethods.net/management/typeconversion.html
Icon=text-html
Name[en_US]=R Data Type Conversion
