[Desktop Entry]
Encoding=UTF-8
Name=Link to The R Graph Gallery – Inspiration and Help with R Graphics
Type=Link
URL=https://www.r-graph-gallery.com/
Icon=text-html
Name[en_US]=R Graphics
