[Desktop Entry]
Encoding=UTF-8
Name=Link to Chi-Square Test of Independence in R - Easy Guides - Wiki - STHDA
Type=Link
URL=http://www.sthda.com/english/wiki/chi-square-test-of-independence-in-r
Icon=text-html
Name[en_US]=R table
