[Desktop Entry]
Encoding=UTF-8
Name=Link to strptime function | R Documentation
Type=Link
URL=https://www.rdocumentation.org/packages/base/versions/3.5.0/topics/strptime
Icon=text-html
Name[en_US]=R time
