[Desktop Entry]
Encoding=UTF-8
Name=Link to r - Installing Rmpi on Ubuntu 16.04 VirtualBox - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/43105917/installing-rmpi-on-ubuntu-16-04-virtualbox
Icon=text-html
Name[en_US]=Rmpi
