[Desktop Entry]
Encoding=UTF-8
Name=Link to CentiServer - Software
Type=Link
URL=http://www.centiserver.org/?q1=software
Icon=text-html
Name[en_US]=Centrality software
