[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding an email header - Media Temple
Type=Link
URL=https://mediatemple.net/community/products/dv/204643950/understanding-an-email-header
Icon=text-html
Name[en_US]=email header
