[Desktop Entry]
Encoding=UTF-8
Name=Link to Exponential Random Graph Models (ERGMs) using statnet
Type=Link
URL=http://statnet.csde.washington.edu/workshops/EUSN/current/ergm/ergm_tutorial.html
Icon=text-html
Name[en_US]=Ergm
