[Desktop Entry]
Encoding=UTF-8
Name=Link to Class Material
Type=Link
URL=http://cs109.github.io/2015/pages/videos.html
Icon=text-html
Name[en_US]=cs109
