[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - rpp0/lora-decoder-paper: Datasets and code for the paper entitled "A Multi-Channel Software Decoder for the LoRa Modulation Scheme".
Type=Link
URL=https://github.com/rpp0/lora-decoder-paper
Icon=text-html
Name[en_US]=www
