[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - rpp0/emma: ElectroMagnetic Mining Array. A tool for the distributed analysis of electromagnetic radiation in context of cryptographic side-channel attacks.
Type=Link
URL=https://github.com/rpp0/emma/tree/master
Icon=text-html
Name[en_US]=www
