[Desktop Entry]
Encoding=UTF-8
Name=Link to Genetic algorithm in Machine Learning - Dawid Kopczyk
Type=Link
URL=http://dkopczyk.quantee.co.uk/genetic-algorithm/
Icon=text-html
