[Desktop Entry]
Encoding=UTF-8
Name=Link to Home · IoT-UTLC/Resources Wiki · GitHub
Type=Link
URL=https://github.com/IoT-UTLC/Resources/wiki
Icon=text-html
Name[en_US]=IoT-UTLC
