[Desktop Entry]
Encoding=UTF-8
Name=Link to 3.5.1. Furnace Case Study
Type=Link
URL=file:///home/aghiles/S11/code/R/doc/handbook/ppc/section5/ppc51.html
Icon=text-html
Name[en_US]=ppc510
