[Desktop Entry]
Encoding=UTF-8
Name=Link to All About LoRa and LoRaWAN: How does LoRaWAN Adaptive Data Rate work?
Type=Link
URL=file:///home/aghiles/Aghiles/Redaction/lib/iot/storage/QPC7JNRZ/how-does-lorawan-nodes-changes-their.html
Icon=text-html
Name[en_US]=www
