[Desktop Entry]
Encoding=UTF-8
Name=Link to rpp0 / Repositories · GitHub
Type=Link
URL=https://github.com/rpp0?tab=repositories
Icon=text-html
Name[en_US]=sdr_rpp0
