[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - myriadrf/LoRa-SDR: An SDR LoRa implementation for R&D
Type=Link
URL=https://github.com/myriadrf/LoRa-SDR
Icon=text-html
Name[en_US]=www
