[Desktop Entry]
Encoding=UTF-8
Name=Link to scikit-learn/doc at master · scikit-learn/scikit-learn
Type=Link
URL=https://github.com/scikit-learn/scikit-learn/tree/master/doc
Icon=text-html
Name[en_US]=Scikit github
