[Desktop Entry]
Encoding=UTF-8
Name=Link to scikit-learn: machine learning in Python — scikit-learn 0.20.3 documentation
Type=Link
URL=https://scikit-learn.org/stable/
Icon=text-html
Name[en_US]=Scikit doc
