[Desktop Entry]
Encoding=UTF-8
Name=Link to cran/NetworkRiskMeasures:  This is a read-only mirror of the CRAN R package repository. NetworkRiskMeasures — Risk Measures for (Financial) Networks
Type=Link
URL=https://github.com/cran/NetworkRiskMeasures
Icon=text-html
Name[en_US]=R . NetworkRiskMeasures
