[Desktop Entry]
Encoding=UTF-8
Name=Link to USCCANA/netdiffuseR: netdiffuseR: Analysis of Diffusion and Contagion Processes on Networks
Type=Link
URL=https://github.com/USCCANA/netdiffuseR
Icon=text-html
Name[en_US]=R netdiffse
