[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - KeelyHill/LoRa-SDR-Decoding-Project: Decoding LoRa signals from an Adafruit module with GNURadio and RTL-SDR
Type=Link
URL=https://github.com/KeelyHill/LoRa-SDR-Decoding-Project
Icon=text-html
Name[en_US]=www
