[Desktop Entry]
Encoding=UTF-8
Name=Link to R - Package VBLPCM
Type=Link
URL=https://maths.ucd.ie/~mst/VBLPCM/
Icon=text-html
Name[en_US]=R Package VBLPCM
