[Desktop Entry]
Encoding=UTF-8
Name=Link to Message Headers
Type=Link
URL=https://www.iana.org/assignments/message-headers/message-headers.xhtml
Icon=text-html
