[Desktop Entry]
Encoding=UTF-8
Name=Link to mrdavid/r-sample-enron: Analyzing the Enron Email Corpus with R.
Type=Link
URL=https://github.com/mrdavid/r-sample-enron
Icon=text-html
Name[en_US]=r-sample-enron
