[Desktop Entry]
Encoding=UTF-8
Name=Link to Probability Distributions in R (Stat 5101, Geyer)
Type=Link
URL=http://www.stat.umn.edu/geyer/old/5101/rlook.html
Icon=text-html
