[Desktop Entry]
Encoding=UTF-8
Name=Link to Quick-R: Probability Plots
Type=Link
URL=https://www.statmethods.net/advgraphs/probability.html
Icon=text-html
