[Desktop Entry]
Encoding=UTF-8
Name=Link to Using R on HPC Clusters
Type=Link
URL=https://www.glennklockwood.com/data-intensive/r/on-hpc.html
Icon=text-html
Name[en_US]=R on HPC Clusters
